*{
  padding: 0%;
  margin: 0%;

}
.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.logo{
  height: 100px;
  width: 100px;
  margin-left: 4%;
}
.bar{
  display: flex;
  flex-direction: row;
  background-color:#0E0807;
}
.b{
  margin: 20px 10px;
  height: 40px;
  margin-left: 75%; 
}
.bt{
  margin: 20px 10px;
  height: 40px;
   
}